.skillfulai__possibility {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20rem;
    
}


.skillfulai__possibility-app {
    display: flex;
    justify-content: center; /* Horizontally center the child elements */
    align-items: center;     /* Vertically center the child elements */
    height: 100%;            /* Take full height of its parent */
}





.rectangle-gradient {
    width: 1180px;
    height: 700px;
    flex-shrink: 0;
    border-radius: 10px;
    background: linear-gradient(131deg, #6060F2 0%, #B0ACEB 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 15px; /* Adjust as needed */
  }
  
  .content-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2px;
    margin-top: -30%;
  }
  
  .content-container h2 {
    width: 600px;
    height: 83px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Red Hat Display;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: 70px;
    text-transform: capitalize;
  }
  
  .content-container p {
    width: 526px;
    height: 117px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Red Hat Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
  }

.header-container {
    display: flex;
    flex-direction: row; /* Place header and paragraph side by side */
    gap: 20px; /* Space between header and paragraph */
}
  
  .get-app-button {
    background: var(--button-grad-4, linear-gradient(131deg, #9D4F9D 0%, #6060F2 100%));
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    width: 279px;
    height: 60px;
    flex-shrink: 0;
    margin-left: -50%;
  }
  
  .get-app-button:hover {
    transform: scale(1.05);
  }
  
  .skillfulweb-image {
    width: 90%; /* Adjust this value to make the image bigger */
    position: absolute;
    right: 0;
    bottom: -10%; /* Adjust this value to control the overflow */
    right: -10%;
    z-index: 10;
  }
  
  .logo-half-image {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .skillfulai__possibility-suite {
    display: flex;
    margin-top: 2%;
    justify-content: center; /* Horizontally center the child elements */
    align-items: center;     /* Vertically center the child elements */
    height: 100%;            /* Take full height of its parent */
}

  .rectangle-suite {
    width: 1180px;
    height: 420px;
    flex-shrink: 0;
    background: linear-gradient(132deg, #02012D 0%, #030046 51.04%, #9D4F9D 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 15px; /* Adjust as needed */
  }

  .suite-content-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: -50%;
    margin-top: -13%;
  }

  .suite-content-container h1::before {
    content: ""; /* This is necessary for the pseudo-element to work */
    display: block; /* Make it a block element so it takes up its own line */
    background: var(--corporategradient, linear-gradient(131deg, #FBB315 0%, #F05F47 25%, #DE3593 72.98%, #9D4F9D 100%));
    width: 80px;
    height: 5px;
    flex-shrink: 0;
    margin-bottom: 10px; /* Space between the line and the header */
}
  .suite-content-container h1 {
    width: 183.409px;
    height: 23.855px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Red Hat Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px; /* 75% */
    letter-spacing: -1.28px; 
  }
  

  .suite-content-container p {
    max-width: 380px;
    color: #B0ACEB;
    font-family: Red Hat Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
  }

  .suite-logo-image {
    position: absolute;
    left: 5;
    bottom: 0;
 }

  .suite-image1 {
    width: 39%; /* Adjust this value to make the image bigger */
    position: absolute;
    right: 0;
    bottom: 13%; /* Adjust this value to control the overflow */
    right: 3%;
    z-index: 1;
  }

  .suite-rect-trans{
    width: 41%; /* Adjust this value to make the image bigger */
    position: absolute;
    right: 0;
    bottom: 10%; /* Adjust this value to control the overflow */
    right: 2%;
    z-index: 1;

  }

  .suite-image2 {
    width: 18%; 
    position: absolute;
    left: 45%;
    bottom: 0;
    z-index: 2;
  }


  .skillfulai__possibility-marketplace{
    display: flex;
    margin-top: 2%;
    justify-content: center; /* Horizontally center the child elements */
    align-items: center;     /* Vertically center the child elements */
    height: 100%;            /* Take full height of its parent */

  }


  .rectangle-marketplace {
    width: 1180px;
    height: 420px;
    flex-shrink: 0;
    background: linear-gradient(132deg, #8E8FF5 0%, #030046 51.04%, #02012D 100%);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 15px; /* Adjust as needed */
  }
  

  .marketplace-content-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 50%;
    margin-top: -13%;
  }

  .marketplace-content-container h1::before {
    content: ""; /* This is necessary for the pseudo-element to work */
    display: block; /* Make it a block element so it takes up its own line */
    background: var(--corporategradient, linear-gradient(131deg, #FBB315 0%, #F05F47 25%, #DE3593 72.98%, #9D4F9D 100%));
    width: 80px;
    height: 5px;
    flex-shrink: 0;
    margin-bottom: 10px; /* Space between the line and the header */
}
  .marketplace-content-container h1 {
    width: 183.409px;
    height: 23.855px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Red Hat Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px; /* 75% */
    letter-spacing: -1.28px; 
  }
  

  .marketplace-content-container p {
    max-width: 380px;
    color: #B0ACEB;
    font-family: Red Hat Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
  }

  .marketplace-content-container img {
    bottom: 2%;
   right: 3%;
  }

  .marketplace-image1 {
    width: 45%; /* Adjust this value to make the image bigger */
    position: absolute;
    right: 0;
    bottom: 8%; /* Adjust this value to control the overflow */
    left: 4%;
    z-index: 1;
  }

  .marketplace-rect-trans{
    width: 49%; /* Adjust this value to make the image bigger */
    position: absolute;
    right: 0;
    bottom: 4%; /* Adjust this value to control the overflow */
    left: 2%;
    z-index: 1;

  }

  .marketplace-logo-image {
    position: absolute;
    right: 2;
    bottom: 0;
 }


 .skillfulai__possibility-creator {
    display: flex;
    margin-top: 2%;
    justify-content: center; /* Horizontally center the child elements */
    align-items: center;     /* Vertically center the child elements */
    height: 100%;            /* Take full height of its parent */
}

  .rectangle-creator {
    width: 1180px;
    height: 420px;
    flex-shrink: 0;
    background: linear-gradient(132deg, #02012D 0%, #030046 51.04%, #9D4F9D 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 15px; /* Adjust as needed */
  }

  .creator-content-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: -50%;
    margin-top: -13%;
  }

  .creator-content-container h1::before {
    content: ""; /* This is necessary for the pseudo-element to work */
    display: block; /* Make it a block element so it takes up its own line */
    background: var(--corporategradient, linear-gradient(131deg, #FBB315 0%, #F05F47 25%, #DE3593 72.98%, #9D4F9D 100%));
    width: 80px;
    height: 5px;
    flex-shrink: 0;
    margin-bottom: 10px; /* Space between the line and the header */
}
  .creator-content-container h1 {
    width: 183.409px;
    height: 23.855px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Red Hat Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px; /* 75% */
    letter-spacing: -1.28px; 
  }
  

  .creator-content-container p {
    max-width: 380px;
    color: #B0ACEB;
    font-family: Red Hat Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
  }

  .creator-image1 {
    width: 39%; /* Adjust this value to make the image bigger */
    position: absolute;
   
    bottom: 13%; /* Adjust this value to control the overflow */
    right: 3%;
    z-index: 1;
    filter: blur(5px); /* Add this line to apply a blur effect */
}

.creator-image1-text {
    color: #FFF;
    position: absolute;
    font-family: Red Hat Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height:  75% ; /* 75% */
   
    left: 70%;
    z-index: 100;
    

}


.skillfulai__possibility-wallet{
    display: flex;
    margin-top: 2%;
    justify-content: center; /* Horizontally center the child elements */
    align-items: center;     /* Vertically center the child elements */
    height: 100%;            /* Take full height of its parent */

  }


.rectangle-wallet {
    width: 1180px;
    height: 420px;
    flex-shrink: 0;
    background: linear-gradient(132deg, #8E8FF5 0%, #030046 51.04%, #02012D 100%);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 15px; /* Adjust as needed */
  }


  

  .wallet-content-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 50%;
    margin-top: -8%;
  }

  .wallet-content-container h1::before {
    content: ""; /* This is necessary for the pseudo-element to work */
    display: block; /* Make it a block element so it takes up its own line */
    background: var(--corporategradient, linear-gradient(131deg, #FBB315 0%, #F05F47 25%, #DE3593 72.98%, #9D4F9D 100%));
    width: 80px;
    height: 5px;
    flex-shrink: 0;
    margin-bottom: 10px; /* Space between the line and the header */
}
  .wallet-content-container h1 {
    width: 183.409px;
    height: 23.855px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Red Hat Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px; /* 75% */
    letter-spacing: -1.28px; 
  }
  

  .wallet-content-container p {
    max-width: 380px;
    color: #B0ACEB;
    font-family: Red Hat Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
  }

  .wallet-content-container img {
    bottom: 2%;
   right: 3%;
  }

  .wallet-image1 {
    width: 45%; /* Adjust this value to make the image bigger */
    position: absolute;
    right: 0;
    bottom: 8%; /* Adjust this value to control the overflow */
    left: 4%;
    z-index: 1;
  }

  .wallet-rect-trans{
    width: 49%; /* Adjust this value to make the image bigger */
    position: absolute;
    right: 0;
    bottom: 4%; /* Adjust this value to control the overflow */
    left: 2%;
    z-index: 1;

  }

  .wallet-logo-image {
    position: absolute;
    right: 2;
    bottom: 0;
 }

  .wallet-image2 {
    width: 22%; 
    position: absolute;
    left: 35%;
    bottom: -7%;
    z-index: 2;
}


.skillfulai__possibility-branded {
    display: flex;
    margin-top: 2%;
    justify-content: center; /* Horizontally center the child elements */
    align-items: center;     /* Vertically center the child elements */
    height: 100%;            /* Take full height of its parent */
}

  .rectangle-branded {
    width: 1180px;
    height: 700px;
    flex-shrink: 0;
    border-radius: 10.724px;
    background: linear-gradient(131deg, #02012D 0%, #6060F2 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 15px; /* Adjust as needed */
  }


  .branded-content-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: -50%;
    margin-top: -13%;
  }

  .branded-content-container h {
    margin-top: 25%;
    width: 365px;
    height: 161.809px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Red Hat Display;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
line-height: normal;
}
  .branded-content-container h1 {
    width: 434px;
    height: 118px;
    flex-shrink: 0;
    font-family: Red Hat Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 45px; /* 112.5% */
    background: var(--corporategradient, linear-gradient(131deg, #FBB315 0%, #F05F47 25%, #DE3593 72.98%, #9D4F9D 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  

  .branded-content-container p {
    width: 418px;
    height: 305px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Red Hat Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
line-height: 24px; /* 120% */
  }

  .branded-image1 {
    width: 55%; /* Adjust this value to make the image bigger */
    position: absolute;
   
    top: 3%; /* Adjust this value to control the overflow */
    right: 0%;
    z-index: 1;
   
}

@media screen and (max-width: 950px) {
    .skillfulai__possibility {
        flex-direction: column;
    }

    .skillfulai__possibility-image {
        margin: 1rem 0;
    }

    .skillfulai__possibility-image img {
        width: unset;
        height: unset;
    }

    .skillfulai__possibility-content {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 700px) {
    .skillfulai__possibility-image img {
        width: 50%;
        height: 50%;
    }
}
