.skillfulai-RoadMap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--darkblue, #030046);
    z-index: 0;

   
}

.skillfulai_roadmap-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.skillfulai_roadmap-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(131deg, #6060F2 0%, #DE3593 31.25%, #B0ACEB 100%);
    opacity: 0.2;
    z-index: 0; /* Ensure it's below the content but above the background color */
}

.roadmap-container,
.roadmap-heading,
.roadmap-heading h1,
.roadmap-image1 {
    position: relative;
    z-index: 2; /* Ensure they are above the gradient overlay */
}


.roadmap-container {
    flex: 1.5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem 0;
    position: relative;
    width: 100%;
    max-width: 1200px;
    z-index: 3; /* Ensure it's above the tokenomics-back2 image */
}

.roadmap-heading {
    font-family: Red Hat Display;
    text-align: left;
    margin-right: 5rem;
    position: relative;
    z-index: 2;
   
}

.roadmap-heading h1 {
    color: #FFF;
   
    background-clip: text;
    font-family: Red Hat Display;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: 70px;
    text-transform: capitalize;
    width: 600px;
    height: 83px;
    flex-shrink: 0;
   
    position: relative; /* Set to relative so it doesn't push other elements */
    z-index: 3; /* Ensure it's above the tokenomics-back2 image */
    margin-left: 0%;
    margin-top: -2%;
}



.roadmap-image1 {
    
    margin-top: 2%;
    right: 0%;
    position: relative; /* Set to relative to ensure it's not affected by the header's margin */
    z-index: 2; /* Ensure it's above the tokenomics-back2 image but below the header */
}





@media screen and (max-width: 990px) {
    .skillfulai_features {
        flex-direction: column;
    }

    .skillfulai_features-heading {
        margin: 0 0 2rem 0;
    }
}




@media screen and (max-width: 550px) {
    .skillfulai_features-heading h1 {
        font-size: 28px;
        line-height: 38px;
    }
}