.skillfulai__blog {
    display: flex;
    flex-direction: column;    
    background: var(--darkblue, #030046);
}

.skillfulai__blog-heading {
    width: 100%;
    text-align: left;

    margin-bottom: 5rem;
}

.gradient__text-blog {
    font-family: Red Hat Display;
font-size: 60px;
font-style: normal;
font-weight: 800;
line-height: normal;
background: var(--corporategradient, linear-gradient(131deg, #FBB315 0%, #F05F47 25%, #DE3593 72.98%, #9D4F9D 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.skillfulai__blog-heading h1 {
    font-size: 62px;
    line-height: 75px;
    font-family: var(--font-family);
    font-weight: 800;
}

.skillfulai__blog-container {
    display: flex;
    flex-direction: row;
}

.skillfulai__blog-container_groupA {
    flex: 0.75;
    margin-right: 2rem;
}

.skillfulai__blog-container_groupB {
    flex: 1;

    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

@media screen and (max-width: 990px) {
    .skillfulai__blog-container {
        flex-direction: column-reverse;
    }


    .skillfulai__blog-container_groupA {
        margin: 2rem 0;
    }

    .skillfulai__blog-container_groupA .skillfulai__blog-container_article  {
       width: 48%;
    }

    .skillfulai__blog-container_groupA .skillfulai__blog-container_article-image {
        height: 250px;
    }
}

@media screen and (max-width: 700px) {
    .skillfulai__blog-container_groupB {
        grid-template-columns: repeat(1, 1fr);
    }

    .skillfulai__blog-container_groupA .skillfulai__blog-container_article  {
       width: 100%;
    }

    .skillfulai__blog-heading h1 {
        font-size: 46px;
        line-height: 52px;
    }
}

@media screen and (max-width: 550px) {
    .skillfulai__blog-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

}