.skillfulai__features-container__feature {
  
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;

    margin: 1rem;
    margin-left: 2rem;

}

.skillfulai__features-container__feature-title {
    flex: 1;
    max-width: 180px;
    margin-right: 2rem;


}

.skillfulai__features-container__feature-title h1{
    color: #FFF;
    font-family: Red Hat Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 32px;
   
}

.skillfulai__features-container__feature-title div {
    width: 98px ;
    height: 3px;
    background: var(--corporategradient, linear-gradient(131deg, #FBB315 0%, #F05F47 25%, #DE3593 72.98%, #9D4F9D 100%));
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.25rem;

}

.skillfulai__features-container_feature-text {
    flex: 2;
    max-width: 390px;
    display: flex;
}

.skillfulai__features-container_feature-text p {
    margin-right: 2rem;
    color: #B0ACEB;
    font-family: Red Hat Display;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}




@media screen and (max-width: 550px) {
    .skillfulai__features-container__feature-title h1 {
        font-size: 14px;
        line-height: 22px;
    }

    .skillfulai__features-container_feature-text p {
        font-size: 12px;
        line-height: 20px;
    }

    .skillfulai__features-container__feature {
        margin: 1rem 0;
    }
}