.skilfullai__brand {
    display: flex;
    flex-wrap: nowrap; /* Prevents the items from wrapping onto the next line */
    justify-content: space-between; /* Distributes the items evenly along the horizontal line with equal space around them */
    align-items: center; /* Aligns items vertically in the center */
    flex-direction: column;
    height: 5%; 
}


.skilfullai__brand-row1 {
    gap: 10rem; /* Creates a gap between the images */
    margin-top: -4%;
    margin-left: 12%;
    display: flex;
    justify-content: center;
}

.skilfullai__brand-row2 {
    gap: 10rem; /* Creates a gap between the images */
   
    margin-left: 8%;
    display: flex;
    justify-content: center;
}

