.skillfulai_features {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-image: url('../../assets/back_features.png'); /* Add this line */
    background-size: cover; /* This will cover the entire viewport */
    background-repeat: no-repeat; /* This will prevent the image from repeating */
    background-position: center; /* This will center the image */
    z-index: 2;
}

.skillfulai_features-heading {
   
  
  
    font-family: Red Hat Display;

    text-align: left;
    margin-right: 5rem;


}

.skillfulai_features-heading h1 {
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 45px; /* 112.5% */
    background: var(--corporategradient, linear-gradient(131deg, #FBB315 0%, #F05F47 25%, #DE3593 72.98%, #9D4F9D 100%));
    color: transparent; /* Set the text color to transparent */
    -webkit-background-clip: text;
    background-clip: text;
}

.skillfulai_features-heading p {
    color: var(--color-subtext);
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    font-family: var(--font-family);

    margin-top: 2rem;
}

.skillfulai_features-container {
    flex: 1.5;
    display: flex;
    justify-content: space-around; /* Change from flex-start to space-around for even spacing */
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
    padding: 2rem 0; /* Add some padding on top and bottom */
}

.skillfulai_features-container-feature {
    flex: 1;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    flex-direction: column;
    padding: 1rem; /* Add some padding for spacing */
    border-radius: 10px; /* Rounded corners for hover effect */
    transition: transform 0.2s; /* Transition for hover effect */
}

.skillfulai_features-container-feature:hover {
    transform: translateY(-5px); /* Slight lift on hover */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Shadow on hover */
}

.skillfulai_features-container-feature img {
    width: 120px; /* Adjust based on your needs */
    height: 120px; /* Adjust based on your needs */
    object-fit: contain;
     /* Or any other background color that matches your design */
    border-radius: 10px;
    padding: 10px; /* Adjust padding to reduce the effective image size */
    box-sizing: border-box;
}


.skillfulai_features-container-feature h2 {
    color: #FFF;
    text-align: center;
    font-family: Red Hat Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 32px; /* 133.333% */
    margin-bottom: 0.5rem; /* Space between title and description */
}

.skillfulai_features-container-feature p {
    color: #B0ACEB;
    text-align: center;
    font-family: Red Hat Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-width: 200px; /* Set a max-width for better readability */
}


.accessibility-image {
    width: 300px; /* Increased width */
    height: 300px; /* Increased height */
    object-fit: cover;
    padding: 0; /* Removed the large padding */
}




@media only screen and (max-width: 992px) {
    .skillfulai_features {
        padding: 1rem; /* Adjust padding for smaller screens */
    }

    .skillfulai_features-heading h1 {
        font-size: 32px;
        line-height: 38px;
    }

    .skillfulai_features-heading p {
        font-size: 14px;
        line-height: 28px;
    }

    .skillfulai_features-container-feature {
        padding: 0.5rem;
    }

    .skillfulai_features-container-feature img {
        width: 100px;
        height: 100px;
    }

    .skillfulai_features-container-feature h2 {
        font-size: 20px;
        line-height: 28px;
    }

    .accessibility-image {
        width: 250px;
        height: 250px;
    }
}

@media only screen and (max-width: 767px) {
    .skillfulai_features {
        padding: 0.5rem;
     
    }

    .skillfulai_features-heading {
        text-align: center;
        margin-right: 0;
    }

    .skillfulai_features-heading h1 {
        font-size: 28px;
        line-height: 34px;
    }

    .skillfulai_features-heading p {
        font-size: 12px;
        line-height: 24px;
    }

    .skillfulai_features-container {
        justify-content: center; /* Centers the features on smaller screens */
    }

    .skillfulai_features-container-feature {
        margin-bottom: 2rem; /* Adds space between wrapped items */
        flex: 0 1 calc(50% - 1rem); /* Makes sure two items fit in a row with some spacing */
    }

    .skillfulai_features-container-feature img {
        width: 80px;
        height: 80px;
    }

    .skillfulai_features-container-feature h2 {
        font-size: 18px;
        line-height: 26px;
    }

    .accessibility-image {
        width: 200px;
        height: 200px;
    }
}
