
.skillfulai__wskai-row4 button {
    width: 279px;
    height: 60px;
    flex-shrink: 0;
    border: none; /* Remove any default borders */
    border-radius: 10px; /* Rounded corners */
    color: #FFF; /* White text color */
    font-size: 18px; /* Adjust font size */
    font-weight: 600; /* Bold text */
    text-align: center; /* Center the text */
    line-height: 60px; /* Vertically center the text */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Hover effect for the button */
.skillfulai__wskai-row4 button:hover {
    transform: scale(1.05); /* This enlarges the button slightly when hovered */
}

.skillfulai__wskai-row4 button::before {
    content: "Coming Soon";
    position: absolute;
    top: -30px; /* Position the tooltip above the button */
    left: 50%; /* Center the tooltip */
    transform: translateX(-50%); /* This ensures the tooltip is centered above the button */
    background-color: #333; /* Tooltip background color */
    color: #fff; /* Tooltip text color */
    padding: 5px 10px; /* Padding around the tooltip text */
    border-radius: 5px; /* Rounded corners for the tooltip */
    font-size: 12px; /* Font size for the tooltip text */
    pointer-events: none; /* Ensures the tooltip doesn't interfere with clicks */
    opacity: 0; /* Set to 0 to hide initially */
    transition: opacity 0.3s; /* Smooth transition for hover effects */
    z-index: 10; /* Ensures the tooltip is above other elements */
}

div.skillfulai__wskai-row4 div button:hover::before {
    opacity: 0.8;
}
